<!DOCTYPE html>
<html lang = "en">
   <head>
     <title>Productos</title>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}">
   </head>
   <body>
      <nav>
         <a href = "{{ url_for('show_all') }}">Ver todos</a> |
         <a href = "{{ url_for('new') }}">Agregar producto</a>
      </nav>

      <aside>
        {%- for message in get_flashed_messages() %}
           {{ message }}
        {%- endfor %}
      </aside>
      <section>      
        <h3>Productos</h3>

        <table>
           <thead>
              <tr>
                 <th>ID</th>
                 <th>Descripcion</th>
                 <th>Cantidad</th>
                 <th>Valor Unitario</th>
                 <th colspan="2">Acctions</th>
              </tr>
           </thead>

           <tbody>
              {% for producto in productos %}
                 <tr>
                    <td>{{ producto.id }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.cantidad }}</td>
                    <td>{{ producto.valor }}</td>
                    <td>
                      <form method="POST" action="/update" style="display: inline">
                        <input type="hidden" value="{{producto.id}}" name="oldId">
                        <input type="submit" value="Update">
                      </form>
                    </td>
                    <td>
                      <form method="POST" action="/delete" style="display: inline">
                        <input type="hidden" value="{{producto.id}}" name="oldId">
                        <input type="submit" value="Delete">
                      </form>
                    </td>
                 </tr>
              {% endfor %}
           </tbody>
        </table>

    </section>

   </body>
</html>
