<!DOCTYPE html>
<html>
<head>
  <title>Students</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}">
</head>
<body>
   <nav>
      <a href = "{{ url_for('show_all') }}">Show All Student</a> |
      <a href = "{{ url_for('new') }}">Add Student</a>
   </nav>
      <section>
      <h3>Students</h3>

      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}

      <form action = "{{ request.path }}" method = "post">
         <label for = "name">Nombre</label>
         <input type = "text" name = "name" placeholder = "Nombre" /><br>
         <label for = "email">Apellidos</label>
         <input type = "text" name = "city" placeholder = "Apellidos" /><br>
         <label for = "addr">Dirección</label>
         <textarea name = "addr" placeholder = "Dirección"></textarea><br>
         <label for = "PIN">Teléfono</label>
         <input type = "text" name = "pin" placeholder = "Teléfono" /><br>
         <input type = "submit" value = "Submit" />
      </form>
    </section>
   </body>
</html>
