<!DOCTYPE html>
<html lang = "en">
   <head>
     <title>Clientes</title>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='clientes/css/default.css') }}">
   </head>
   <body>
      <nav>
         <a href = "{{ url_for('show_all') }}">Ver todos los Clientes</a> |
         <a href = "{{ url_for('new') }}">Agregar Cliente</a>
      </nav>

      <aside>
        {%- for message in get_flashed_messages() %}
           {{ message }}
        {%- endfor %}
      </aside>
      <section>      
        <h3>Clientes</h3>

        <table>
           <thead>
              <tr>
                 <th>Identificacion</th>
                 <th>Nombre</th>
                 <th>Apellidos</th>
                 <th>Direccion</th>
                 <th>Telefono</th>
                 <th colspan="2">Acctions</th>
              </tr>
           </thead>

           <tbody>
              {% for cliente in clientes %}
                 <tr>
                    <td>{{ cliente.id }}</td>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.apellido }}</td>
                    <td>{{ cliente.direccion }}</td>
                    <td>{{ cliente.telefono }}</td>
                    <td>
                      <form method="POST" action="/update" style="display: inline">
                        <input type="hidden" value="{{cliente.id}}" name="oldId">
                        <input type="submit" value="Update">
                      </form>
                    </td>
                    <td>
                      <form method="POST" action="/delete" style="display: inline">
                        <input type="hidden" value="{{cliente.id}}" name="oldId">
                        <input type="submit" value="Delete">
                      </form>
                    </td>
                 </tr>
              {% endfor %}
           </tbody>
        </table>

    </section>

   </body>
</html>
